<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>React Tweets</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <h2 class="top-header" style="text-align:center">React-Tweets</h2>

  <div id="bg">
    <ul id="scene" class="parallax">
      <li class="layer" data-depth="0.2">
        <img src="svg/layer1.png" alt="layer1"></img>
      </li>
      <li class="layer" data-depth="0.4">
        <img src="svg/layer2.png" alt="layer1"></img>
      </li>
      <li class="layer" data-depth="0.6">
        <img src="svg/layer3.png" alt="layer1"></img>
      </li>
      <li class="layer" data-depth="0.8">
        <img src="svg/layer4.png" alt="layer1"></img>
      </li>
    </ul>
  </div>

  <a class="btn-floating btn-large waves-effect waves-light blue reload-button">
    <input type="button" value="Reload" onClick="window.location.reload()" style="color:white; font-size:10px">
  </a>

  {{{ body }}}

  <footer>
    <h6 style="text-align:center; padding:0px; margin:0px ">Messing with Twitter React</h6>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.1.0.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js "></script>
  <script src="js/bundle.js "></script>
  <script> 
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);
  </script>

</body>

</html>